.App {
  text-align: center;
}



.header {
  /* position:fixed; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  /* top: 0; */
  width: 100%;
  /* height: 10vh; */
  /* margin: 10vh; */

}

@media only screen and (max-width: 700px) {
  .header {
  height: 7vh;
  background:inherit;
  font-size: 2rem;
}
.logo{
  font-size: 2rem !important;
}
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  font-family: 'Gyparody';
  font-size: 3rem;
  color: white;
  margin: 0;
  -webkit-text-stroke: .2px black;
}

.clue {
  font-family: 'KorinnaBold';
  font-size: 1rem;
  margin: 0;
}
